{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto pt-40 pb-10">
        <h1 class="text-6xl text-center pb-12">
            {{ 'Create Review'|trans }}
        </h1>
        {{ form_start(form) }}
            <div>
                {{ form_label(form.heading) }}
                <div class="mt-3 text-red-600">
                    {{ form_errors(form.heading) }}
                </div>
                {{ form_widget(form.heading) }}
            </div>
            <div>
                {{ form_label(form.review) }}
                <div class="mt-3 text-red-600">
                    {{ form_errors(form.review) }}
                </div>
                {{ form_widget(form.review) }}
            </div>
            <div>
                {{ form_label(form.content) }}
                <div class="mt-3 text-red-600">
                    {{ form_errors(form.content) }}
                </div>
                {{ form_widget(form.content) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}